*.v
*.fir
*.json
*.log
*.db
.metals/*
lab1/Hello.anno.json
lab1/Hello.fir
lab1/Hello.v
lab1/project
lab1/target
lab2/target
lab1/.bsp
lab1/.bloop/bloop.settings.json
lab1/.metals/metals.lock.db
lab2/Majority.fir
lab2/project
lab2/test_run_dir/AddSub_should_pass/AddSub.lo.fir
